<ion-app>
  <ion-menu side="start" menuId="firts" contentId="principal">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title>Este es tu menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>INICIO</ion-item>
        <ion-item>NOSOTROS</ion-item>
        <ion-item>EVALUACIONES</ion-item>
        <ion-item>CAPACITACIONES</ion-item>
        <ion-item>CONTACTO</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
